* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    font-weight: bold;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    padding: 20px;
    color: #e9f2ff;

    /* Fundo gerado por css-pattern.com */

    --s: 100px;
    --c1: #5c82ff;
    --c2: #3754ff;

    background:
        conic-gradient(from 30deg at 87.5% 75%, var(--c1) 60deg, var(--c2) 0 120deg, #0000 0) 0 calc(0.2165 * var(--s)),
        conic-gradient(from -90deg at 50% 25%, var(--c2) 60deg, var(--c1) 0 180deg, #0000 0),
        conic-gradient(from 90deg at 50% 75%, var(--c2) 120deg, var(--c1) 0 180deg, #0000 0),
        conic-gradient(from -30deg at 87.5% 50%, var(--c2) 120deg, var(--c1) 0 240deg, #0000 0),
        conic-gradient(from 90deg at 37.5% 50%, var(--c2) 120deg, var(--c1) 0 180deg, var(--c2) 0 240deg, var(--c1) 0);
    background-size: var(--s) calc(0.866 * var(--s));
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

header,
section,
footer {
    padding: 16px;
    box-shadow: 7px 7px 0 0px #8ab0ff;

    /* Fundo gerado por css-pattern.com */

    --s: 200px; /* control the size*/
    --c1: #111563;
    --c2: #0b0f51;

    background:
        conic-gradient(from 30deg at 87.5% 75%, var(--c1) 60deg, var(--c2) 0 120deg, #0000 0) 0 calc(0.2165 * var(--s)),
        conic-gradient(from -90deg at 50% 25%, var(--c2) 60deg, var(--c1) 0 180deg, #0000 0),
        conic-gradient(from 90deg at 50% 75%, var(--c2) 120deg, var(--c1) 0 180deg, #0000 0),
        conic-gradient(from -30deg at 87.5% 50%, var(--c2) 120deg, var(--c1) 0 240deg, #0000 0),
        conic-gradient(from 90deg at 37.5% 50%, var(--c2) 120deg, var(--c1) 0 180deg, var(--c2) 0 240deg, var(--c1) 0);
    background-size: var(--s) calc(0.866 * var(--s));
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: "Cinzel Decorative", "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 48px;
    }

    nav {
        ul {
            display: flex;
            gap: 16px;
        }
    }
}

section {
    h2,
    h3 {
        font-family: "Cinzel Decorative", "Times New Roman", Times, serif;
        color: #fff;
        margin-bottom: 10px;
    }
}

section#start {
    text-align: center;

    h2 {
        font-weight: 400;

        span {
            line-height: 36px;
            font-weight: bolder;
            font-size: 36px;
        }
    }

    img {
        margin-top: 16px;
        width: 50%;
        box-shadow: 7px 7px 0 0px #8ab0ff;
    }
}

section#projetos {
    ul {
        display: flex;
        justify-content: center;
        gap: 16px;

        li {
            display: flex;
            flex-direction: column;
            background-color: #141f9b;
            padding: 12px;
            width: 100%;

            h3 {
                margin-top: 8px;
            }

            img {
                width: 100%;
            }

            p {
                margin-bottom: 8px;
            }

            a {
                display: block;
                margin-top: auto;
                text-align: end;
            }
        }
    }
}

footer {
    text-align: center;
    font-weight: bold;
}
